.cart-wrapper {
    width: fit-content;
}

.cart-img {
    width: 8rem;
}

.qunt-input {
    width: 2rem;
}

.cart-description {
    font-size: smaller;
}

.product-name,
.product-wrapper {
    max-width: 150px !important;
}

.delete-item-btn {
    font-weight: bold;
    cursor: pointer;
}

.delete-item-btn:hover {
    cursor: pointer;
}

/* ensures the increment/decrement arrows always display */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}