.login-wrapper {
    background-image: url(../../assets//imgs/img-10.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh !important;
}

.login-btn {
    max-width: 150px;
}