.login-wrapper {
    background-image: url(../../assets/images/landing.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh !important;
}

.signup-link:hover {
    text-decoration: none !important;
}

.login-btn {
    max-width: 150px;
}
