.order-history-container {
    height: 100vh !important;
    margin-top: 5vh;
}

.login-redirect-wrapper {
    background-image: url(../../assets/images/login-redirect.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh !important;
}

.login-redirect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.order-history-link:hover {
    text-decoration: none !important;
}
