.order-history-container {
    height: 100vh !important;
    margin-top: 7vh;
    margin-left: 3vw;
}

.login-redirect-wrapper {
    background-image: url(../../assets/images/login-redirect.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh !important;
}

.login-redirect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-link,
.order-history-link-return,
.order-history-product-link:hover {
    text-decoration: none  !important;
}

#order-history-prod-wrapper {
    display: inline !important;
}
