.cart {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid rgb(107, 107, 108);
}

.close {
    cursor: pointer;
}

.close:hover {
    color: rgb(107, 107, 108);
}

.cart > p {
    font-size: 14px;
}

.checkout-btn {
    max-width: 150px;
}

.checkout-link:hover {
    color: rgb(107, 107, 108) !important;
    text-decoration: underline  !important;
}